/* define variables */
:root {
    /* fonts */
    --font-body: Verdana, Geneva, Tahoma, sans-serif;
    --font-headline: 'Special Elite', sans-serif;
    
    /* colors */
    --green-color: #8bbf1b;
    --orange-color: #d96e30;
    --blue-color: #96CDD9;
    --tan-color: #d9b596;
    --brown-color: #6b4b30;
    --text-default:#26211f;
    --light-grey: #d0d0d0;
    --dark-grey: #303030;
  
}

* {
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

body {
    margin:0; 
    height: 100%;
    color: var(--text-default);  
}

._hide {
    display: none;
}

/*---------- ELEMENT DEFUALTS ----------*/
h1 {
    margin:0px;
    font-family: var(--font-headline);
    font-size: 2em;
    color: #26211f;
}
h2 {
    font-family: var(--font-headline);
    font-size: 1.5em;
}
h3 {
    font-family: var(--font-headline);
    font-size: 1.15em;
}
h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
}
h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.15em;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}
button {
    border: none;
    padding: 2em;
    padding-bottom: .25em;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#mainBody{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    padding: 3em;
    justify-content: center;
    max-width: 1000px;
    margin:auto;
    
}

/*---------- FORMS DEFUALT -----------*/

form {
    max-width: 500px;
    grid-column-end: span 3;
    grid-row-end: span 5;
    margin: 0 auto;
}


fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5em;
    padding: 1em;
    border: 2px solid var(--text-default);
    border-radius: 5px;
    margin-bottom: 1em;
}

label {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
}

input {
    width: 100%;
    border: 1px solid var(--text-default);
    border-radius: 5px;
    max-width: 300px;
    padding:3px;
    margin-bottom: .5rem;
    margin-top: .5rem;
    
}
legend {
    font-family: var(--font-headline);

}


/*----------HEADER----------*/
#mainHeader {
    padding-top: .5em;
    background-color: var(--blue-color);
    border-bottom: 2px solid var(--green-color);
}

#mainHeader a {
    color: var(--text-default);
    text-decoration: none;
}

#hdrImg {
   position: relative;   
}

#hdrImg h1 {
    white-space: nowrap;
    position:absolute;
    bottom: .1rem;
    right: .5rem;
}


/*----------FOOTER----------*/
#mainFooter {
    max-width: 500px;
    margin: 0 auto;
}

#mainFooter a {
    color: var(--text-default);
    text-decoration: none;
}

.footPanel {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 1em;
    margin: 1rem auto;
}

.footPanel div {
    margin: 0 auto;
    
}
img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btnAS {
    background-color: #8bbf1b;
    border-radius: 100%;
    width: 4em;
    height: 4em;
    padding: 0;
}
.btnAS span {
    font-size: 2em;
}

/*---------- Section elements ----------*/
.qtrSecContainer {
    display: grid;
    grid-row-end: span 3;
}

.qtrSecElem {
    border: 2px solid black;
    border-radius: 5px;
    /* background-color: yellow; */
    text-align: center;   
}

.qtrSecElem h2 {
    margin:0;
    padding:1rem;
    background-color: var(--blue-color);
    border-bottom: 2px solid var(--green-color);
}

.fullWdthContainer {
    display: grid;
    grid-column-end: span 2;
}

.fullWdthElem {
    display:grid;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    padding:2px;

}

.seedCardsContainer {
    grid-column-end: span 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 2rem;
    
}

.seedCardElem {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid black;
    width: 225px;
    text-align: center;
}

.seedCardElem:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38,38,38, 0.2);
    top: -4;
    transform: scale(1.1);
    transform-origin: 50% 50%;
    border: 1px solid #cccccc;
    background-color: white;
}

/* .seedCardElem:before{
    content: "";
    position: absolute;
    z-index: -1;
    top:-16px;
    right:-16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
} */
.seedCardElem:hover:before {
    transform: scale(2.15);
  }



.seedCardElem h3 {
    margin:0;
    padding:1.5rem;
    background-color: var(--blue-color);
    border-bottom: 2px solid var(--green-color);
}
.seedCardElem span {
    font-size: 1.4em;
    
}

.alert{
    background-color: var(--orange-color);
    grid-column-end: span 2;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:1em;
}
.alert p {
    margin:0;
}

/* One offs */
#growIt {
    background-color: var(--green-color);
    font-family: var(--font-headline);
    font-size: 1.2rem;
    padding:1rem;
    margin:.5rem;
    border-radius: 5px;;
}

#gardenPlanInput {
    margin:auto;
}

#seedInput button {
    background-color: var(--blue-color);
    font-family: var(--font-headline);
    font-size: 1.2rem;
    padding:1rem;
    margin:.5rem;
    border-radius: 5px;;
}



